@import url(base);

@mixin btn {
    color: white;
    background-color:$Primary-color;
    margin: 1rem 3rem 1rem 3rem;
    padding: .9rem 0.7rem 1rem 0.8rem;
    border-radius: 30px;
    font-size: 14px;
}

@mixin article {
    margin: 1rem 1rem 1.5rem 1rem;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
        .main__figure{
            margin: 2rem 0rem 3rem 0rem;
        }
        .main__h2{
            color: nth($Neutral-colors,2);
            font-family: nth($Heading-font-family-weight,1);
            font-size: 20px;
        }
        .main__p{
            font-size: 16px;
            line-height: 1.5rem;
        }
    }