@import url(base);
@import url(components);

#header{
    background-image: url(/images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color: nth($Neutral-colors,1);
    color:nth($Neutral-colors,2);
    text-align: center;

    &__nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        .header__figure{
            margin: 1.6rem 1rem 0rem 1rem;
            .header__img{width: 115px;}
        }
        .header__try{
            display: inline-block;
            background-color: white;
            font-weight:nth($Body-call-to-action-family-weight,4);
            font-size: 12px;
            margin: 1.5rem 1rem 0.5rem .5rem;
            padding: 0.4rem 1.6rem 0.4rem 1.6rem;
            border-radius: 30px;
            box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
        }

        .header__try:hover{
            cursor: pointer;
            transition: .5s;
            opacity: 85%;
        }
    }
    .header__h1{
        font-size: 1.5rem;
        margin:0rem 3rem 0rem 3rem;
        line-height: 2.2rem;
    }
    .header__p{
        margin: 1rem 1.5rem 0rem 1.5rem;
        line-height: 1.8rem;
    }
    .header__btn{@include btn;}

    .header__btn:hover{
            cursor: pointer;
            transition: .5s;
            opacity: 85%;
    }

    .header__ilustration{
        margin: 1.4rem 0rem 1rem 0rem;
        padding: 1rem 0rem 1.8rem 0rem;
    }
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 2.5rem 0rem 6rem 0rem;
    .main__article{@include article;}
    .header__btn{
        @include article;
        margin: 1rem .5rem .5rem .5rem;
        padding: .6rem;
        width: 330px;
        height: 159px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        position: relative;
        top: 11rem;
        .main__h2{font-size: 19px}
        .header__span{
            @include btn;
            font-size: 12px;
        }

        .header__span:hover{
            cursor: pointer;
            transition: .5s;
            opacity: 80%;
        }
    }
}

#footer{
    color: white;
    background-color: nth($Neutral-colors,2);
    padding: 5rem 1rem 1rem 1rem;
    line-height: 2rem;
    figure{text-align: left;}
    #footer__contact{margin-top: 5rem;}
    .footer__figure{.footer__img{width: 160px;}}
    .footer__figure{.footer__icon{width: 20px;}}
    .footer__container{
        .footer__figure{margin: 1.3rem 1.4rem .4rem .4rem;}
        display: flex;
        align-items: end;
    }
    #footer__about{
        display: flex;
        flex-direction: column;
        margin: 3rem 0rem 3rem 0rem;
        .footer__span{
            margin: 0rem 1rem 1rem 0rem; 
            border-bottom: solid 1px transparent; 
            cursor: pointer;
        }
        .footer__span:hover{
            transition: .5s;
            border-bottom: 1px solid white;
            width: fit-content;
        }
    }
    #footer__social{
        display: flex;
        justify-content: center;
        .icon-facebook,.icon-twitter,.icon-instagram{
            cursor: pointer;
            border: solid 1px white;
            border-radius: 30px;
            padding: .5rem;
            margin: .5rem;
        }
        .icon-facebook:hover{
            transition: .5s;
            color: $Primary-color;
            border: solid 1px $Primary-color;
        }

        .icon-twitter:hover{
            transition: .5s;
            color: $Primary-color;
            border: solid 1px $Primary-color;
        }

        .icon-instagram:hover{
            transition: .5s;
            color: $Primary-color;
            border: solid 1px $Primary-color;
        }
    }
    #footer__copy{
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (min-width:575px){
    #header{#header__nav{.header__try{ padding: .7rem 3rem .7rem 3rem;}}}
    #main{.header__btn{padding: 0.6rem 2.6rem .6rem 2.6rem;}.main__article{.main__figure{.main__img{width: 300px;}}}}}

@media screen and (min-width:768px){
    #header{
        background-image: url(/images/bg-hero-desktop.svg);
        .header__grid{
            display: grid;
            grid-template-columns: 46% 54%;
            grid-template-areas:
            "tex img";
            .header__container{
                margin-top: 21%;
                grid-area: tex;
                .header__h1{ text-align: left; margin: 0rem 1rem 0rem 2rem;}
                .header__p{ text-align: left; margin: 1rem 1.5rem 0rem 2rem;}
                .header__btn{ width: 210px; margin: 1.5rem 3rem 1rem 2rem;}
            }
            .header__container:nth-of-type(2){ margin:0; grid-area: img;}
        }
    }
    #main{
        .main__article{
            .main__container,.main__grow,.main__users{
                display: flex;
                align-items: center;
                text-align: left;
                .main__text{margin: 0rem 2rem 0rem 2rem}
            }

            .main__grow,.main__users{
                flex-direction: row-reverse;
            }
        }
    }
}